html {
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #D4DBED;
}

.header,
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.grid-container {
    padding: 1rem;
    background-color: #425A91;
    box-shadow: 0.3rem 0.3rem black;
}

.grid-container .container {
    display: flex;
    flex: none;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 32rem;
    height: 32rem;
}

.grid {
    background-color: white;
}
